**/.vscode
**/bin
**/obj
/PhoneManagement/.vs/PhoneManagement
/StudentManage/.vs
/ProductManage/.vs
/PhoneManagement/.vs/ProjectEvaluation
/.vs
/ShopingCart/.vs/ShopingCart
/ShopingCart/.vs/ProjectEvaluation
